html{
     font-family: 'Merienda', cursive;
     font-family: arial	, sans-serif;
}
.container {
        width:100%;
	margin: 0 auto;
	padding: 0 15px;
}
.row {
	display:flex;
	flex-wrap:wrap;
	margin: 0 -15px;
}
.row >* {
  width:100%;
  padding:0 15px;
}
.btn a{ 
    display: inline-block;
    text-decoration: none;
    color: #fff;
    background-color:#e03a3c;
    padding: 10px 20px 10px 20px;
    border-radius: 4px;
}
.d-none{display:none;} 
.align-items-center {
	align-items: center !important;
}
.align-items-right {
	align-items: right !important;
}
.align-items-left {
	align-items: left !important;
}
.justify-content-center{justify-content:center !important;}
.justify-content-end{justify-content:end !important;}
/*---------- header start -----------*/
.header-content {
	position: fixed;
        top:0;
	background:#fff;
        padding: 30px 0;
        width: 100%;
        z-index:667;
}
.logo-name > a {
	font-size: 30px;
	font-weight: 600;
	text-decoration: none;
	color: black;
}
.logo-name a > span {
	color: #e03a3c;
}
.logo-nav{
 text-align:right;
}
.logo-nav ul > li {
	display: inline-block;
        padding: 2px 10px 10px 10px;
}
.logo-nav li > a {
       display: block;
	font-size: 14px;
	text-decoration: none;
	padding: 0 13px;
	color: black;
}
.logo-nav li > a.home {
	color: #e03a3c;
}
.dropdown {
	position: relative;
}
.dropdown a i {
	font-size: 20px;
	padding-left: 5px;
}
.sub-dropdown1 .drop-down-deep{
   position:relative;
   padding-right: 37px;
}

.sub-dropdown1 {
        text-align:left;
	position: absolute;
	top: 30px;
	left: 0;
	width: 170px;    
	background: white;
	box-shadow: -2px -3px 4px lightgray;
        height: 150px;	
	border-radius: 5px;
	transform: translateY(20px);
	opacity: 0;
	visibility: hidden;
	transition: all 0.6s ease;
}
.sub-dropdown1 li > a {
	padding-bottom: 6px;
	font-size: 15px;
}
.dropdown:hover .sub-dropdown1 {
	opacity: 1;
	transform: translateY(0);
	visibility: visible;
}

.sub-dropdown2 {
	position: absolute;
	top: 10px;
	left: 164px;
	min-width: 140px;
	background: white;
	box-shadow: -2px -3px 4px lightgray;
        height: 130px;	
	border-radius: 5px;
	transform: translateX(20px);
	opacity: 0;
	visibility: hidden;
	transition: all 0.6s ease;
}
.sub-dropdown2 li > a {
	padding-bottom: 6px;
	font-size: 15px;
}
.drop-down-deep:hover .sub-dropdown2 {
	opacity: 1;
	transform: translateY(0);
	visibility: visible;
}
.logo-nav li:nth-child(9) {
	background: #e03a3c;
	border-radius: 3px;
	padding: 10px 25px;
}
.logo-nav li:nth-child(9) > a {
	color: white;
}
.logo-nav li > a:hover {
	color: #e03a3c;
}
.logo-nav li:nth-child(9):hover {
	background: black;
}
.logo-nav li:nth-child(9) > a:hover {
	color: white;
}

/*-----banner-------------*/
.banner-section{
    background-image: linear-gradient(to right, rgba(0,0,0,0.40), rgba(0,0,0,0.40)), url(../image/hero-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 104px;
    padding-top: 84px;
    padding-bottom: 84px;
}
.banner-content{
            
            color:white;
}
.banner-content >h1{
           
          font-size: 50px;
          font-weight:700;
}
.banner-content >p{
        margin-top:10px;
        font-size:23px;
        font-weight:100;
        padding-bottom:55px;
}
.banner-content >a{
        color:white;
     	background: #e03a3c;
        border:solid 1px #e03a3c;
	border-radius: 3px;
	padding: 15px 35px;
        margin-top:20px;
        text-decoration:none;
}
.banner-content >a:hover{
    background-color:#2c2929;
    color:#fff;
    border-color:#fff;
}
/*-------------------------client-section------------*/
.client-section{
            padding-top:40px;
            padding-bottom:90px;
}
.client-logo{
             padding:5px 30px;
}
.client-logo a img{
           width:100%;
           filter:grayscale(1);
           opacity(0.5);
}
.client-logo img:hover{
                    filter:grayscale(0);
                    opacity(1);
} 

.about-section{
                position:relative;
                padding-top:100px;
                padding-bottom:50px;
                z-index:1;                	
 } 
 .about-section:after{
                      content:"";
                      position:absolute;
                      left:0;
                      top:0;
                      width:100%;
                      height:100%;
                      background-color:#1b1b1b; 
                      z-index:-1;
                      transform:skew(0deg,-3deg);
}
                 
.about-content{
               
               color:white;
}
.about-content > h1{
              font-size:30px;
              padding-bottom:30px;
}
.about-content > p{
                font-size: 19px;
                 word-spacing: 2px;
                padding-bottom:50px;
                color: #ede6e6;
}
.about-button{
    color: white;
    border: solid 3px #e03a3c;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 24px;
    padding-left: 24px;
    border-radius: 20px;
    text-decoration: none;
                                 
}
.about-button:hover{
                  background-color:red;
}
                           
.abt-list-box{
             color:white;
             padding-bottom: 60px;
             padding-left:25px;
}
.abt-list-box >h2{
                  font-size:21px;
                  padding-bottom:12px;
                  padding-top:18px;
}
.abt-list-box >p{
                  font-size:14px;
                  color:#565050;
                 
}
.abt-list-box > i{
                  font-size:35px;
                  color:#e03a3c;
}
.service-section{
                padding-top:100px;
                padding-bottom:50px;
}
.service-logo{
    border: 1px solid white;
    box-shadow: 0px 1px 31px #af9f9f8f;
    text-align: center;
    padding-top: 26px;
    padding-bottom:20px;
    position: relative;
} 
.service-logo i{
    position: absolute;
    top: -41px;
    border: 1px solid white;
    left: 50%;
    transform: translateX(-50%);
    padding: 16px;
    border-radius: 50%;
    background-color: white;
    font-size: 26px;
    box-shadow: 0px 1px 14px #b3a9a9;
    color:#e03a3c;
}
.service-logo h1{
              font-size:42px;
              font-family:auto;
}
.service-logo p{
                color:#875252;
}
.asset{      
         padding-top:50px;
         padding-bottom:100px;
}
.asset-logo{ 
              position:relative;
              border:solid 1px #d5bebe;   
              padding-top: 28px;
              padding-bottom: 28px;
              padding-left: 20px;
              padding-right:20px;
}
.asset-logo i{
              font-size: 44px;
              position: absolute;
              top:50%;
              transform: translatey(-50%);
              
              }
.asset-logo p{
       padding-left:62px;
       font-weight:600;
}
.active-asset p{
    color:#f9e7e7
}
.active-asset{
                     background-color:#e03a3c;
                     color:#fff;
}    
.active-asset{
    position: relative;
    border: solid 1px #d5bebe;
    padding-top: 28px;
    padding-bottom: 28px;
    padding-left: 20px;
    padding-right: 20px;
}
.active-asset i{
    font-size: 44px;
    color:#fff;
    position: absolute;
    top: 50%;
    transform: translatey(-50%);
}
.active-asset p{
    padding-left: 66px;
    font-weight: 600;
}
.active-asset p:hover{
   color:#fff;
}   
  
.asset-logo:hover{
                     color:#e03a3c;
                    border-color: #837979;                     
}            

.asset-content{
              padding-top:30px;
        
}
#italic{
     color:#4e4545;
     font-style:italic;
     padding:20px 0px;
}
.asset-content h2{
    font-size: 28px;
    color: #4e3030;
    font-weight: 100;
}
.asset-content p{
              padding-top:20px;
              color: #4e3030;
}
.asset-content i{
       color:#e03a3c;
       padding-right:10px;
}
.asset-image img{
      margin-top: 25px;
      height: auto;
      width: 100%;
}
.service{
          background-color: #1b1b1b;
          padding-top:50px;
          padding-bottom:50px;
                      
}

.service-content{
                 position:relative;
                 padding:20px;
                color:white;
                text-align:center;
}
.service-content h1:after{
    content: "";
    position: absolute;
    top: 42%;
    left: 48%;
    width: 4%;
    border-bottom: solid 4px #e03a3c;
                         
}
.service-content h1{
    text-transform:uppercase;
    font-size: 40px;
    padding-bottom: 30px;
    font-weight: 100;
}
/* .service-content >h1:after{
              position:relative;
              border:solid 2px red;
              top:10;
} */
.service-content p{
     color: #f1e7e7;
    padding-top: 21px;                 
}                          
.service-icon{
     color:#f1e7e7;
    margin: 12px;
}
.service-icon a{ 
    text-decoration: none;
    color: white;
}
.service-icon{
   position: relative;
    border: solid 1px #2c2929;
    background-color:#2c2929;
    padding: 50px 15px 50px 76px;
}
.service-icon i{
    position: absolute;
    left: 20px;
    font-size: 40px;
    color: #e03a3c;
}
.service-icon >p{
    padding-top:10px;
}
/*---------------------------------------portfolio-section------------*/
.portfolio-section{
     
     padding-top:100px;
     padding-bottom:50px;
}
.portofolio-content{
    position:relative;
    text-align:center;
    
}
.portofolio-content h1:after{
    content: "";
    position: absolute;
    top: 36%;
    left: 48%;
    width: 4%;
    border-bottom:solid 4px #e03a3c;
                         
}
.portofolio-content p{
   padding-top:40px;
}

.portofolio-content h1{   font-size: 40px;
    padding-bottom: 30px;
    font-weight: 100;
}
.portfolio-nav{
    text-align: center;
    padding-top: 29px;
}
.portfolio-nav a{
     display:inline-block;
     text-decoration:none;
     color:black; 
     padding-top:10px;
     padding-left:8px;
     padding-right:8px;
     padding-bottom:10px;
     border-radius:5px;
     background-color:white;
        
    }
a.active-nav{
          background-color:#e03a3c;
          color:white;
}
.portfolio-nav a:hover{
          background-color:#e03a3c;
          color:white;
}
.portfolio-icon img{
    display: block;
    width: 100%;
    height: auto;
    transition: all .5s ease;      

}
.portfolio-icon{
       position:relative;
       overflow: hidden;
       margin: 12px 2px;
}
.portfolio-overlayer{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    transition: all ease 0.3s
}
.portfolio-overlayer h4{
   font-size:20px;
   color:white;
   padding-top:150px;
}
.portfolio-overlayer h5{
   font-style:italic;
   padding-top:14px;
   padding-bottom:14px;
 }
.portfolio-overlayer a{
   text-decoration:none;
   color: #ccc;
}
 .portfolio-overlayer a:hover{
   color:white;
} 
.portfolio-overlayer{
    font-size: 16px;
    color: #ccc;
    display: flex;
    align-items: flex-end;
    top: 0;
    padding-left: 20px;
    opacity: 0;
}
.img-content{
     margin-bottom: 20px;
}
.portfolio-overlayer i{
       font-size:20px;
           margin-left: 5px;
    margin-right: 20px;
}
.portfolio-overlayer:hover{
    opacity:0.5;
}

.portfolio-icon:hover img{
  transform:scale(1.2);
}
 

/*----------------------testimonials-content------------------*/
            
.testimonials-section{
     padding-top:40px;
     padding-bottom:100px;
}
.testimonials-content{
    position:relative;
    text-align:center;
}
.testimonials-icons{box-shadow: 0px 5px 36px #e7e2e2;
    padding: 40px 46px;
    border-radius: 16px;
    margin-top: 40px;
}
.testimonials-content h2{
   font-size: 40px;
    padding-bottom: 30px;
    font-weight: 100;
}
.testimonials-content p{
  padding-top: 20px;
}
.testimonials-content h2:after{
    content: "";
    position: absolute;
    top: 46%;
    left: 48%;
    width: 4%;
    border-bottom:solid 4px #e03a3c;
                         
}
.trm-icn img{   
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-left:12px;
}    
.trm-id{
        text-transform: capitalize;
        padding-top:14px;
}
.trm-id h4{
    font-size: 18px;
    font-weight: 900;
}
.trm-id h5{
     padding-top: 3px;
     color: #ccc;
}
.trm-detail{
   padding-top: 14px;
   line-height: 24px;
}
.trm-detail i{
    font-size: 24px;
    color: antiquewhite;
}
i.icofont-quote-left:first-child {
    padding-right: 4px;
    display: inline-block;
    margin-bottom: 2px;
}
i.icofont-quote-left:last-child {
    padding-left: 4px;
    display: inline-block;
    margin-bottom: 2px;
}
	
.trm-detail p{
    font-style: italic;
    font-family: arial;
    font-weight: 300;
    color: #464444;
}
 
.pricing-section{
     position:relative;
     padding-top:40px;
     padding-bottom:70px;
     z-index:1;
}
.pricing-section:after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #1b1b1b;
    z-index: -1;
    transform: skew(0deg,-3deg);
}

.pricing-content{
   position:relative;
   color:white;       
  text-align:center;
}
.pricing-content h2{
   font-size: 30px;
    padding-bottom:10px;
    font-weight: 100;
}
.pricing-content h2:after{
    content: "";
    position: absolute;
    top: 46%;
    left: 48%;
    width: 4%;
    border-bottom:solid 4px #e03a3c;
                         
}
.pricing-content p{
    padding-top:40px;
}

.pricing-icons{
   
    color: white;
    text-align: center;
    border: solid 1px #0c0b0b;
    background-color: #0c0b0b;
    border-radius: 16px;
    padding: 30px 0;
    margin-top: 32px;
}
.pricing-icons p{
 color:#f5f4f2;
 padding-top:14px;
 padding-bottom:14px;
}
#prc-ln-2 sup{
    font-size: 16px;
    color:white;

}
#prc-ln-2 span{
  font-size: 15px;
    color: #ccc;
}
#prc-ln-2 {
 color: white;
 font-size: 34px;
}
#prc-ln-4 {
  color:#ccc;
  text-decoration-line: line-through;
}
#prc-ln-5 {
  color:#ccc;
  text-decoration-line: line-through;
  padding-bottom:60px;
}
#prc-ln-6 {
   padding-bottom:60px;
}

.pricing-icons a{
  text-decoration:none;
  text-transform:capitalize;
  color:white;
  border:solid 1px #ccc;
  border-radius:6px;
  padding:10px 26px;
}
.active-price{
 background-color: #e03a3c;
}
.pricing-icons a:hover{
    border-color:white;
}
.FAQ-section{
     padding-top:80px;
     padding-bottom:80px;
}
.FAQ-content {
     position:relative;
     text-align:center;
     font-size:20px;
     padding-bottom: 34px;
}
.FAQ-question details summary{
     list-style: none;
}
.FAQ-content h2:after{
    content: "";
    position: absolute;
    top: 58%;
    left: 48%;
    width: 4%;
    border-bottom:solid 4px #e03a3c;
}
.FAQ-question {
    display: flex;
    justify-content: space-between;
    border-bottom:solid 1px #ccc;
    padding-top: 16px;
    padding-bottom: 24px;
}
.FAQ-question details summary{
    font-weight: 100;
}
.FAQ-question  summary:hover{
       color:#e03a3c;
}
.FAQ-question  i:hover{
       color:#e03a3c;
}
.FAQ-question  i{
   font-size:24px;
}
.team-section{
     position:relative;
     padding-top:40px;
     padding-bottom:70px;
        
}
.team-content{
    text-align:center;
    font-size:20px;
    padding-bottom: 34px;
    color:white;
}
.team-content h2{
      padding-bottom:30px;
}
.team-content p{
   font-size:16px;
}
.team-section:after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #1b1b1b;
    z-index: -1;
    transform: skew(0deg,-3deg);
}

.team-content h2:after{
    content: "";
    position: absolute;
    top: 14%;
    left: 48%;
    width: 4%;
    border-bottom:solid 4px #e03a3c;
}
.team-icons img{
    width:100%;
    height:auto;
    border-radius: 6px 6px 0 0;
}
.team-icons{
 position:relative;
  text-transform:capitalize;
  background-color:white;
  color:black;
  border-radius:10px;
  padding-bottom:20px;
  
}
.team-icons h3{
    padding-left: 14px;
    padding-top: 22px;
    padding-bottom: 6px;

}
.team-icons p{
 font-size:14px;
 color:#ccc;
 padding-left: 14px;
}
.team-overlayer {
    position: absolute;
    text-align: center;
    opacity: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding-top: 86%;
}
 
.team-overlayer:hover{
 opacity:1;
 transition:all ease 0.6s;
}

.tm-lyr-logo a{    

    font-size:20px;
    text-decoration:none;
    background-color:#e03a3c;
    color:white;
    border:solid 1px #e03a3c;
    border-radius:20px; 
    padding:6px;
}
.tm-lyr-logo a:hover{
  background-color:black;
  border-color:black;
  color:white;
}
.contact-section{
                 
                 padding-top:80px;
                 padding-bottom:40px;
                 margin-top:68px;
}
.contact-content{
   margin-top:30px;
   padding-top: 24px; 
   padding-bottom:16px;
}
.contact-content i{
    font-size: 30px;
    color: #e03a3c;
    padding: 8px;
    border: dotted 2px #e03a3c29;
    border-radius: 50%;
}
.contact-content h3{
    color: #817d7d;
    padding-top: 24px; 
    padding-bottom:16px;
}
.contact-content p{
  font-size: 14px;
  color: #706d6d;
  padding-bottom:10px;
}

.contact-head-detail{
   position:relative;
   text-align:center;
}
.contact-head-detail h2{
   font-size:30px; 
   font-weight:700;
   color:#242223;               
}
.contact-head-detail h2:after{   
    content: "";
    position: absolute;
    top: 46%;
    left: 48%;
    width: 4%;
    border-bottom:solid 4px #e03a3c;
}   
.contact-head-detail p{
 color:#484646;
 padding-top:30px;
}
.contact-address{
    text-align: center;
    text-transform: capitalize;
    box-shadow: 0px 0px 30px #e1dede;
    padding: 40px 0 40px 0px;
    border-radius:4px;
}
.contact-email{
      text-align: center;
     text-transform: capitalize;
     box-shadow: 0px 0px 30px #e1dede;
     padding: 40px 0 40px 0px;
     margin-top:30px;
     border-radius:4px;
}  
.contact-call{
    text-align: center;
    text-transform: capitalize;
    box-shadow: 0px 0px 30px #e1dede;
    padding: 40px 0 40px 0px;
    margin-top:30px;
    border-radius:4px;
}

.contact-info{
  padding:20px 30px 20px 30px;
  box-shadow:0px 0px 30px #ccc;
  border-radius:4px;
}
#cnt-dtl{
    font-size: 16px;
    width: 100%;
    height: auto;
    border: solid 1px;
    border-color: #ccc;
    border-radius: 4px;
    padding: 12px;
    margin-top: 20px;    
}
.sbt{
  text-align:center;
}
#cnt-button{
    font-size:16px;
    font-weight: 500;
    text-decoration: none;
    color: white;
    background: #e03a3c;
    border:solid 0px;
    border-radius: 6px;
    padding: 12px 25px;
    margin: 26px 168px;
}
#cnt-button:hover{
 color:#fff;
 background-color:#e35b5dde;
 border-color:#e35b5dde;
}
.bottom-section{
                 
                background-color:#1b1b1b;
                padding-top:70px;
                padding-bottom:40px;
}
.bottom-content-2 h4:after{
    content: "";
    position: absolute;
    top: 21px;
    left: 0px;
    width: 12%;
    border-bottom: solid 2px #e03a3c
}
.bottom-content-3 h4:after{
    content: "";
    position: absolute;
    top: 21px;
    left: 0;
    width: 8%;
    border-bottom:solid 2px #e03a3c;
                         
}

.bottom-content-1{
                color:white;
}
.bottom-content-1 h3{ 
  font-size:28px;
}
.bottom-content-1 span{
 color:#e03a3c;
}
.bottom-content-1 >p{
    font-size: 14px;
    color: #ebe4e4;
    line-height: 26px;
    padding-bottom: 17px;
    padding-top: 10px;}
#bt-cnt> p{
    text-transform:capitalize;
    font-size: 14px;
    font-weight: 700;
    padding-top:6px;
}
#bt-cnt span{
    color: #ccc;
    font-size: 14px;
    font-weight: 100;
}
.bottom-content-2{
  position:relative;
  color:white;
}
.bottom-content-2 a{
  width:100%;
  display:block;
  text-decoration:none;
  font-size:14px;
  font-weight:100;
  color:#ccd;
  padding-top:20px;
 }
.bottom-content-2 i{
  font-size:18px;
  color:#fff;
}
.bottom-content-2 a:hover{
   color:#fff;
}
.bottom-content-3{
     position:relative;
    width:100%;
    color: #fff;
}
.bottom-content-3 a{
  text-decoration:none;
  border:solid 1px  #e03a3c;
  background-color: #e03a3c;
  
}
.bt-subscribe{
    position: relative;
    overflow: hidden;
    padding: 8px 0;
    border: solid 0px #fff;
    background-color: #fff;
    border-radius: 6px;
}
#bt-sub-button{
    position: absolute;
    font-size:16px;
    font-weight:500;
    top: 0;
    right: 0;
    background-color:#e03a3c;
    border-color:#e03a3c;
    color: white;
    padding: 8px;
}

.bottom-content-3 p{
   font-size: 16px;
    font-weight: 100;
    color: #d9cfcf;
    padding-top: 30px;
    padding-bottom: 40px;
}
#bt-sub{
  border-color:transparent;
  padding-right: 100px;
}
#bt-sub-button:hover{
  background-color:#e35b5dde;
  border-color:#e35b5dde;
}
.footer-section{
                background-color:black;
                padding-top:40px;
                padding-bottom:40px;
}
.footer-content{
    color:#fff;
}
.footer-content h5{
    font-size: 14px;
    font-weight: 100;
    color: aliceblue;
    line-height: 22px;
}
.footer-content span{
    font-weight: 800;
}
.footer-content a{
   display:inline-block;
   text-decoration:none;
   color:#e03a3c;
} 
.footer-logo a{
    font-size:18px;
    text-decoration: none;
    display:inline-block;
    color: #fff;
    background-color: #504545;
    border-radius:5px;
    padding: 8px;
    margin-left:6px;
}
.footer-content a:hover{
  color:#e15a67;
}
.footer-logo a:hover{
  background-color:#e03a3c;
}
.up-arrow{
 display:inline-block; 
 position:fixed;
 right:20px; 
 bottom:10px;
 padding:4px;
 z-index:670;
 font-size:40px;
 color:#fff;
 background-color:#e03a3c;
 border-radius:4px;
}
