html{
     font-family: 'Merienda', cursive;
     font-family: 'Raleway', sans-serif;
}
.container {
       width: 1170px;
	margin: 0 auto;
	padding: 0 15px;
}
.row {
	display:flex;
	flex-wrap:wrap;
	margin: 0 -15px;
}
.col-lg-1 {
	width: 8.33%;
	padding: 0 15px;
}
.col-lg-2 {
	width: 16.66%;
	padding: 0 15px;
}
.col-lg-3 {
	width: 25%;
	padding: 0 15px;
}
.col-lg-4 {
	width: 33.33%;
	padding: 0 15px;
}
.col-lg-5 {
	width: 41.66%;
	padding: 0 15px;
}
.col-lg-6 {
	width: 50%;
	padding: 0 15px;
}
.col-lg-7 {
	width: 58.33%;
	padding: 0 15px;
}
.col-lg-8 {
	width: 66.66%;
	padding: 0 15px;
}
.col-lg-9 {
	width: 75%;
	padding: 0 15px;
}
.col-lg-10 {
	width: 83.33%;
	padding: 0 15px;
}
.col-lg-11 {
	width: 91.66%;
	padding: 0 15px;
}
.col-lg-12 {
	width: 100%;
	padding: 0 15px;
}
.align-items {
	align-items: center !important;
}
/*---------- header start -----------*/
.header-content {
	background: white;
    padding: 30px 0;
    width: 100%;
}
.logo-nav{
    text-align:right;
}
.logo-name > a {
	font-size: 30px;
	font-weight: 600;
	text-decoration: none;
	color: black;
}
.logo-name a > span {
	color: #e03a3c;
}
.logo-nav ul > li {
	display: inline-block;
}
.logo-nav li > a {  
    display: block;
    font-size: 15px;
    text-decoration: none;
    padding: 0 13px;
}
.logo-nav li > a.home {
	color: #e03a3c;
}
.dropdown {
	position: relative;
        padding-bottom:12px;
}
.dropdown a i {
	font-size: 20px;
	padding-left: 5px;
}
.sub-dropdown1 {
	position: absolute;
	top: 30px;
	left: 0;
	min-width: 180px;
	background: white;
	box-shadow: -2px -3px 4px lightgray;
    height: 150px;	
	border-radius: 5px;
	transform: translateY(20px);
	opacity: 0;
	visibility: hidden;
	transition: all 0.6s ease;
}
.sub-dropdown1 li > a {
	padding-bottom: 6px;
	font-size: 15px;
}
.dropdown:hover .sub-dropdown1 {
	opacity: 1;
	transform: translateY(0);
	visibility: visible;
}
.sub-dropdown2 {
	position: absolute;
	top: 40px;
	left: 180px;
	min-width: 140px;
	background: white;
	box-shadow: -2px -3px 4px lightgray;
    height: 130px;	
	border-radius: 5px;
	transform: translateX(20px);
	opacity: 0;
	visibility: hidden;
	transition: all 0.6s ease;
}
.sub-dropdown2 li > a {
	padding-bottom: 6px;
	font-size: 15px;
}
.sub-dropdown1:hover .sub-dropdown2 {
	opacity: 1;
	transform: translateY(0);
	visibility: visible;
}
.logo-nav li:nth-child(9) {
	background: #e03a3c;
	border-radius: 3px;
	padding: 10px 25px;
        margin-left: 30px;
}
.logo-nav li:nth-child(9) > a {
	color: white;
}
.logo-nav li > a:hover {
	color: #e03a3c;
}
.logo-nav li:nth-child(9):hover {
	background: black;
}
.logo-nav li:nth-child(9) > a:hover {
	color: white;
}
/*-----banner-------------*/
.banner-section{
    background-image: linear-gradient(to right, rgba(0,0,0,0.40), rgba(0,0,0,0.40)), url(../image/hero-bg.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;        
    padding-top:70px;
    padding-bottom:70px;
    height:550px;
}
.banner-content{
            
            color:white;
            max-width:45%;
            
}
.banner-content >h1{
           
          font-size: 50px;
          font-weight:700;
}
.banner-content >p{
        margin-top:10px;
        font-size:23px;
        font-weight:200;
        padding-bottom:55px;
}
.banner-content >a{
        color:white;
     	background: #e03a3c;
	border-radius: 3px;
	padding: 15px 35px;
        margin-top:20px;
        text-decoration:none;
}
/*-------------------------client-section------------*/
.client-section{
            padding-top:40px;
            padding-bottom:90px;
}
.client-logo{
             padding:5px 30px;
}
.client-logo a img{
           width:100%;
           filter:grayscale(1);
           opacity(0.5);
}
.client-logo img:hover{
                    filter:grayscale(0);
                    opacity(1);
} 

.about-section{
                position:relative;
                padding-top:100px;
                padding-bottom:50px;
                z-index:1;                	
 } 
 .about-section:after{
                      content:"";
                      position:absolute;
                      left:0;
                      top:0;
                      width:100%;
                      height:100%;
                      background-color:#1b1b1b; 
                      z-index:-1;
                      transform:skew(0deg,-3deg);
}
                 
.about-content{
               
               color:white;
}
.about-content > h1{
              font-size:30px;
              padding-bottom:30px;
}
.about-content > p{
                font-size: 19px;
                 word-spacing: 2px;
                padding-bottom:50px;
                color: #ede6e6;
}
.about-button{
    color: white;
    border: solid 3px #e03a3c;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 24px;
    padding-left: 24px;
    border-radius: 20px;
    text-decoration: none;
                                 
}
.about-button:hover{
                  background-color:red;
}
                           
.abt-list-box{
             color:white;
             padding-bottom: 60px;
             padding-left:25px;
}
.abt-list-box >h2{
                  font-size:21px;
                  padding-bottom:12px;
                  padding-top:18px;
}
.abt-list-box >p{
                  font-size:14px;
                  color:#565050;
                 
}
.abt-list-box > i{
                  font-size:35px;
                  color:#e03a3c;
}
.service-section{
                padding-top:100px;
                padding-bottom:50px;
}
.service-logo{
    border: 1px solid white;
    box-shadow: 0px 1px 31px #af9f9f8f;
    text-align: center;
    padding-top: 26px;
    padding-bottom:20px;
    position: relative;
} 
.service-logo i{
    position: absolute;
    top: -41px;
    border: 1px solid white;
    left: 50%;
    transform: translateX(-50%);
    padding: 16px;
    border-radius: 35px;
    background-color: white;
    font-size: 26px;
    box-shadow: 0px 1px 14px #b3a9a9;
    color:#e03a3c;
}
.service-logo h1{
              font-size:42px;
              font-family:auto;
}
.service-logo p{
                color:#875252;
}
.asset{      
         padding-top:50px;
         padding-bottom:50px;
}
.asset-logo{ 
              position:relative;
              border:solid 1px #d5bebe;   
              padding-top: 28px;
              padding-bottom: 28px;
              padding-left: 49px;
              padding-right: 35px;
}
.asset-logo i{
              font-size: 44px;
              position: absolute;
              top:50%;
              transform: translatey(-50%);
              
              }
.asset-logo p{
       padding-left:80px;
       font-weight:600;
}
.active-asset:unvisited{
                     background-color:#e03a3c;
                     color:white;
}    
.asset-logo:hover{
                     background-color:#e03a3c;
                     color:white;
}            

.asset-content{
              padding-top:30px;
        
}
#italic{
     color:#4e4545;
     font-style:italic;
     padding:20px 0px;
}
.asset-content h2{
    font-size: 28px;
    color: #4e3030;
    font-weight: 100;
}
.asset-content p{
              padding-top:20px;
              color: #4e3030;
}
.asset-content i{
       color:#e03a3c;
       padding-right:10px;
}
.asset-image img{
      margin-top: 25px;
      height: auto;
      width: 100%;
}
.service{
         background-color:black;
         padding-top:50px;
         padding-bottom:50px;
}
.service-content{
                 padding:20px;
                color:white;
                text-align:center;
}
.service-content h1{
     font-size: 34px;
     padding-bottom: 30px;
}
/* .service-content >h1:after{
              position:relative;
              border:solid 2px red;
              top:10;
} */
.service-content p{
                  color:#f1e7e7;
 }                          
.service-icon{
     color:#f1e7e7;
    margin: 12px;
}
.service-icon a{ 
    text-decoration: none;
    color: white;
}
.service-icon{
position: relative;
    border: solid 1px #2c2929;
    background-color:#2c2929;
    padding: 50px 15px 50px 76px;
}
.service-icon i{
    position: absolute;
    left: 20px;
    font-size: 40px;
    color: #e03a3c;
}
.portfolio-section{
     background-color:black;
     padding-top:50px;
     padding-bottom:50px;
}
.portofolio-content{
    background-color:blue;
    height:50px;
    
}
.portofolio-logo{
    background-color:blue;
    height:50px;
    margin:14px
}
.portfolio-icon{
    background-color: blue;
    height: 200px;
    margin: 14px;
}
.testimonials-section{
     background-color:blue;
     padding-top:40px;
     padding-bottom:40px;
}
.testimonials-content{
    background-color:black;
    height:100px;
    
}
.testimonials-icons{
    background-color: black;
    height: 300px;
    margin-top: 40px;
}
.pricing-section{
     background-color:black;
     padding-top:40px;
     padding-bottom:40px;
}
.pricing-content{
    background-color:blue;
    height:100px;
    
}
.pricing-icons{
    background-color: blue;
    height: 500px;
    margin-top: 40px;
}
.FAQ-section{
     background-color:blue;
     padding-top:40px;
     padding-bottom:40px;
}
.FAQ-content{
     background-color:black;
     height:100px;
}
.FAQ-question{
     background-color:black;
     height:400px;
     margin-top:25px;
}
.team-section{
     background-color:black;
     padding-top:40px;
     padding-bottom:40px;
    
}
.team-content{
    background-color:blue;
    height:100px;
    
}
.team-icons{
    background-color: blue;
    height: 300px;
    margin-top: 40px;
}
.contact-section{
                 background-color:blue;
                 padding-top:40px;
                 padding-bottom:40px;
}
.contact-content{
                 background-color:black;
                 height:100px;
}
.contact-address{
                background-color:black;
                height:150px;
                margin-top:20px;
}
.contact-email{
               background-color: black;
               height: 200px;
               margin-top: 50px;
}
.contact-text-area{
                background-color:black;
                height:400px;
                margin-top:20px;  
}
.bottom-section{
                background-color:black;
                padding-top:40px;
                padding-bottom:40px;
}
.bottom-content{
                background-color:blue;
                height:300px;
}
.footer-section{
                background-color:blue;
                padding-top:40px;
                padding-bottom:40px;
}
.footer-content{
              background-color: black;
              height: 100px;
}